@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  background-color: #000;
}

button {
  font-family: inherit;
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* Starting screen */
.starting-screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #a5b4fc;
  z-index: 1000;
}

.starting-screen h1 {
  text-transform: uppercase;
}

.starting-screen-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.starting-screen-buttons button {
  width: 180px;
  height: 40px;
  background-color: #fff;
  border: 4px solid #000;
  cursor: pointer;
}

.starting-screen-buttons button:hover,
.starting-screen-buttons button:focus {
  background-color: #ccc;
  transform: scale(1.1);
}

.starting-screen p {
  color: #fff;
  font-size: 8px;
}

/* Game screen */
.gamebar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.health-bar {
  position: relative;
  width: 100%;
  border: 4px solid #fff;
}

.red-health {
  background-color: #ef4444;
  height: 30px;
  width: 100%;
}

.blue-health {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #818cf8;
}

.gray-health {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #bcbcbc;
}

#playerHealth,
#playerHealthGray {
  width: 100%;
}

.ship-name {
  position: absolute;
  left: 0;
  bottom: -160%;
  color: #fff;
}

#resetScreen {
  position: absolute;
  top: 110%;
  left: 50%;
  display: none;
  padding: 20px 40px;
  background-color: #a5b4fc;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

#resetScreen > div > p {
  margin: 0 10px;
  cursor: pointer;
}

#resetScreen > div > p:hover {
  transform: scale(1.1);
}
